body div.card {
  position: relative;
  margin: 0 auto;
  margin-top: -115px;
  width: 100%;
  z-index: 1000;
}
body div.card div.content {
  display: flex;
}
body div.card div.content div.picture {
  min-width: 100px;
  max-width: 100px;
  min-height: 100px;
  max-height: 100px;
  padding: 15px;
  background-image: url(https://placehold.it/200x200);
  background-origin: content-box;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  vertical-align: top;
}
body div.card div.content div.info {
  padding: 15px;
  vertical-align: top;
}
body div.card div.content div.info span.hi {
  display: inline-block;
  position: relative;
  padding: 2px 15px;
  margin: 8px 0px;
  background-color: #03a9f4;
  color: white;
}
body div.card div.content div.info span.hi:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 25%;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-top-color: #03a9f4;
  border-bottom: 0;
  border-left: 0;
  margin-left: -4px;
  margin-bottom: -8px;
}
body div.card div.content div.info span.title {
  display: block;
  font-size: xx-large;
}
body div.card div.content div.info span.title span.name {
  font-weight: bold;
}
body div.card div.content div.info span.subtitle {
  font-size: large;
}
body div.card div.content div.info p a:link,
body div.card div.content div.info p a:visited,
body div.card div.content div.info p a:hover,
body div.card div.content div.info p a:active {
  color: red;
  font-weight: bold;
  text-decoration: none;
}
body div.card footer {
  width: 100%;
  text-align: center;
  background-color: #4CD964;
  color: white;
}
body div.card footer a:link,
body div.card footer a:visited,
body div.card footer a:hover,
body div.card footer a:active {
  color: white;
  text-decoration: none;
}
body div.card footer a i {
  padding: 7.5px;
}
body section {
  padding: 8px;
}
body section span.title {
  font-size: 48px;
  line-height: 48px;
  vertical-align: text-bottom;
}
body section div.tiles {
  display: flex;
}
body section div.tiles div.tile {
  width: 250px;
  height: 250px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  text-align: center;
}
body section div.tiles div.tile .singlemsg {
  margin-top: 106px;
}
body section div.tiles div.tile a:link,
body section div.tiles div.tile a:visited,
body section div.tiles div.tile a:hover,
body section div.tiles div.tile a:active {
  text-decoration: none;
  font-weight: bold;
}
body section.school div.tiles div.tile {
  background-color: #4CD964;
  color: white;
}
body section.work div.tiles div.tile {
  background-color: #03a9f4;
  color: white;
}
body.light section div.tiles div.tile a:link,
body.light section div.tiles div.tile a:visited,
body.light section div.tiles div.tile a:hover,
body.light section div.tiles div.tile a:active {
  color: black;
}
body.light section.projects div.tiles div.tile {
  background-color: #F5F5F5;
}
body.dark section div.tiles div.tile a:link,
body.dark section div.tiles div.tile a:visited,
body.dark section div.tiles div.tile a:hover,
body.dark section div.tiles div.tile a:active {
  color: white;
}
body.dark section.projects div.tiles div.tile {
  background-color: #212121;
}
@media screen and (min-width: 650px) {
  body div.card {
    width: 75%;
  }
  body div.card div.content div.picture {
    min-width: 150px;
    max-width: 150px;
    min-height: 150px;
    max-height: 150px;
  }
}
@media screen and (min-width: 1280px) {
  body div.card {
    width: 50%;
  }
  body div.card div.content div.picture {
    min-width: 200px;
    max-width: 200px;
    min-height: 200px;
    max-height: 200px;
  }
}
