/* LESS Document */
@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #607D8B;
  color: white;
}
body #logo {
  display: block;
  width: 100%;
}
body .segment {
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: black;
}
body .segment > * {
  display: inline-block;
  float: left;
}
body .segment div#profile {
  width: 350px;
  height: 250px;
  background-color: #7289da;
}
body .segment div#profile div#profileIcon {
  width: 190px;
  height: 190px;
  margin: 10px auto;
  background-image: url(../images/dankBeats.jpg);
  border-radius: 95px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}
body .segment div#profile span#botName {
  display: block;
  margin: 0 auto;
  text-align: center;
}
body .segment div#profile span#botName span#botTag {
  position: relative;
  margin-left: 6px;
  top: -2px;
  padding: 1px 2px;
  border-radius: 3px;
  line-height: 16px;
  background-color: white;
  color: #7289da;
  font-size: 10px;
  font-weight: 500;
  text-transform: uppercase;
}
body .segment div#profileContent {
  width: calc(100% - 350px);
  height: 250px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}
body .segment div#profileContent span#discordButton {
  position: relative;
  display: table;
  margin: 87px auto;
  padding: 5px;
  border-radius: 5px;
  font-size: xx-large;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  background-color: #23272A;
  color: white;
}
body .segment div#profileContent span#discordButton img {
  display: inline-block;
}
body .segment div#profileContent span#discordButton a:link,
body .segment div#profileContent span#discordButton a:visited,
body .segment div#profileContent span#discordButton a:active,
body .segment div#profileContent span#discordButton a:hover {
  color: white;
  text-decoration: none;
}
body .segment div#qualityContent {
  width: 75%;
  height: 250px;
  float: right;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  background-color: #43A047;
}
body .segment div#qualityContent > * {
  padding: 8px;
}
body .segment div#quality {
  width: 25%;
  height: 250px;
  float: right;
  background-color: #36393f;
  background-image: url(../dankbeats/img/bitrate.png);
  background-repeat: no-repeat;
  background-position: right center;
}
body .segment span.code {
  white-space: pre;
  font-family: Consolas, 'Andale Mono', 'Lucida Console', 'Lucida Sans Typewriter', Monaco, 'Courier New', 'monospace';
  font-size: smaller;
  background-color: rgba(255, 255, 255, 0.25);
}
body .segment div#edm {
  width: 40%;
  height: 260px;
  background-color: #03A9F4;
}
body .segment div#edm > div {
  display: inline-block;
  float: left;
  margin: 2%;
  width: 46%;
  height: 42%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
body .segment div#edmContent {
  position: relative;
  width: 60%;
  height: 260px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}
body .segment div#edmContent div#background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  filter: blur(5px);
  opacity: 0.66666667;
  background-color: black;
  background-image: url(../dankbeats/img/edcLights.png);
  background-size: cover;
  background-position: center center;
}
body .segment div#edmContent h2,
body .segment div#edmContent p {
  position: relative;
  z-index: 10;
  padding: 8px;
}
body .segment div#radio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 25%;
  height: 250px;
  float: right;
  background-color: #607D8B;
}
body .segment div#radio div#radioIcon {
  width: 100%;
  height: 80%;
  filter: invert(100%);
  background-image: url(../dankbeats/img/radio.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
body .segment div#radioContent {
  width: 75%;
  height: 250px;
  float: right;
  background-color: #E53935;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}
body .segment div#radioContent h2,
body .segment div#radioContent p {
  position: relative;
  z-index: 10;
  padding: 8px;
}
body .segment div#radioContent p a:link,
body .segment div#radioContent p a:visited,
body .segment div#radioContent p a:active {
  color: white;
  text-decoration: underline;
}
body .segment div#radioContent p a:hover {
  color: black;
  text-decoration: underline;
}
body #container {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}
body #container .card {
  margin: 10px;
  padding: 0;
  display: inline-block;
  width: 300px;
  background-color: #fafafa;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
body #container .card:hover {
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
body #container .card .logo {
  margin: 0;
  padding: 0;
  display: block;
  width: 100%;
}
body #container .card audio {
  margin: 0;
  padding: 0;
  display: block;
  width: 100%;
}
/*audio::-webkit-media-controls-panel {
	-webkit-filter: invert(100%);
}*/
@media screen and (max-width: 540px) {
  body .segment div#profile {
    width: 100%;
  }
  body .segment div#profileContent {
    display: none;
  }
  body .segment div#qualityContent > * {
    padding: 0px 8px;
  }
  body .segment div#edmContent h2,
  body .segment div#edmContent p {
    padding: 0px 8px;
  }
  body .segment div#radioContent h2,
  body .segment div#radioContent p {
    padding: 0px 8px;
  }
}
