@navbar-height: 44px;

header {
	margin: 0;
	padding: 0 8px;
	height: @navbar-height;

	> * {
		display: inline-block;
		margin: 0;
		height: @navbar-height;
		vertical-align: top;
	}

	div#logo {
		width: calc(((3/1) * @navbar-height) - 1px);
		height: @navbar-height;
		background-size: contain;
		background-position: center center;
		overflow: hidden;
	}

	nav {
		float: right;

		* {
			display: inline-block;
			height: @navbar-height;
			line-height: @navbar-height !important;
		}

		ul {
			margin: 0;
			padding: 0;
			list-style-type: none;

			li {
				> i {
					vertical-align: middle;
				}

				ul {
					display: none;

					li {
						align-content {
							&:link, &:visited, &:hover, &:active {
								text-decoration: none;
							}

							&:hover {
							}
						}
					}
				}
			}
		}
	}
}

@media (prefers-color-scheme: dark) {
	header {
		background-color: #121212;
		color: white;

		div#logo {
			background-image: url("../images/logo_dark.svg");
		}

		nav {
		}
	}
}

@media (prefers-color-scheme: light) {
	header {
		background-color: #EDEDED;
		color: black;

		div#logo {
			background-image: url("../images/logo_light.svg");
		}

		nav {
		}
	}
}