@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v15/S6uyw4BMUTPHjx4wWw.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v15/S6u9w4BMUTPHh6UVSwiPHA.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v19/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}
body header {
  position: relative;
  height: 400px;
  overflow: hidden;
}
body header div.background {
  position: absolute;
  left: -10%;
  top: -10%;
  width: 120%;
  height: 120%;
  z-index: 1;
  background-color: black;
  background-size: cover;
  background-position: center center;
  filter: blur(5px);
}
body header div.darken {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.66666667);
}
body header div#logo {
  display: inline-block;
  position: absolute;
  left: 0;
  padding-left: 8px;
  z-index: 3;
  width: calc((3/1) * 44px);
  height: 44px;
  background-image: url("../images/logo.svg");
  background-size: contain;
  background-position: center center;
}
body header nav {
  position: absolute;
  right: 8px;
  z-index: 3;
  font-family: 'Roboto', sans-serif;
}
body header nav .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: 5px 4px;
}
body header nav .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
body header nav .switch input:checked + .slider {
  background-color: #212121;
}
body header nav .switch input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
body header nav .switch input:focus + .slider {
  box-shadow: 0 0 1px #212121;
}
body header nav .switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #F5F5F5;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
body header nav .switch .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
body header nav .switch .slider.round {
  border-radius: 34px;
}
body header nav .switch .slider.round:before {
  border-radius: 50%;
}
body header nav ul {
  margin: 0;
  padding: 0;
  display: inline-block;
  list-style-type: none;
}
body header nav ul li {
  display: inline-block;
}
body header nav ul li:hover {
  cursor: pointer;
}
body header nav ul li a {
  display: inline-block;
}
body header nav ul li a:link,
body header nav ul li a:visited,
body header nav ul li a:hover,
body header nav ul li a:active {
  padding: 11.5px 4px;
  text-decoration: none;
  color: white;
  border-bottom: none;
}
body header nav ul li a:hover,
body header nav ul li a.current {
  border-bottom: 2px solid #03a9f4;
}
body header nav ul li ul {
  display: none;
  position: absolute;
  right: 0;
}
body header nav ul li ul li {
  display: inline-block;
  clear: both;
  text-align: center;
}
body header nav ul li:hover > ul,
body header nav ul li:focus-within > ul,
body header nav ul li ul:hover {
  display: block;
}
body > div.card {
  position: relative;
  margin: 0 auto;
  margin-top: -115px;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
body > div.card div.content {
  display: flex;
  justify-content: center;
}
body > div.card div.content form {
  padding: 15px;
  width: 85%;
}
body > div.card div.content form > * {
  display: block;
  margin: 10px 0px;
}
body > div.card div.content form input,
body > div.card div.content form textarea {
  outline: none;
}
body > div.card div.content form input[type=text],
body > div.card div.content form input[type=email],
body > div.card div.content form textarea {
  width: 98%;
  border: none;
  transition: border-bottom 0.2s ease-out;
  font-size: 16px;
  line-height: 48px;
  background-color: transparent;
}
body > div.card div.content form input[type=text]:focus:invalid,
body > div.card div.content form input[type=email]:focus:invalid,
body > div.card div.content form textarea:focus:invalid {
  border-bottom: 1px solid #F44336;
}
body > div.card div.content form input[type=text]:valid,
body > div.card div.content form input[type=email]:valid,
body > div.card div.content form textarea:valid {
  border-bottom: 1px solid #4CAF50;
}
body > div.card div.content form input[type=submit] {
  padding: 8px 16px;
  height: 36px;
  border: none;
  border-radius: 2px;
  color: white;
  font-size: 14px;
  background-color: #03A9F4;
}
body > div.card div.content form input[type=submit]:active {
  background-color: #0288D1;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
body > div.card div.content form input[type=submit]:disabled {
  color: rgba(0, 0, 0, 0.26);
  background-color: rgba(0, 0, 0, 0.12);
}
body > footer {
  padding: 0.33% 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  background-color: #4CD964;
  color: white;
}
body > footer > * {
  display: inline;
  color: white;
}
body > footer a:link,
body > footer a:visited,
body > footer a:hover,
body > footer a:active {
  text-decoration: none;
  color: white;
}
body > footer i {
  padding-left: 8px;
  color: white;
}
body > footer i + span {
  padding-left: 2px;
}
body.light > div.card div.content form input[type=text],
body.light > div.card div.content form input[type=email],
body.light > div.card div.content form textarea {
  border-bottom: 1px solid rgba(0, 0, 0, 0.29803922);
}
body.dark > div.card div.content form input[type=text],
body.dark > div.card div.content form input[type=email],
body.dark > div.card div.content form textarea {
  border-bottom: 1px solid rgba(255, 255, 255, 0.29803922);
}
@media screen and (min-width: 650px) {
  body header div#logo {
    width: calc((3/1) * 50px);
    height: 50px;
  }
  body header nav .switch {
    margin: 8px 4px;
  }
  body header nav ul li a:link,
  body header nav ul li a:visited,
  body header nav ul li a:hover,
  body header nav ul li a:active {
    padding: 14.5px 4px;
  }
  body header nav ul li ul li {
    display: block;
  }
  body header nav ul li ul li a {
    width: 100%;
  }
  body > div.card {
    width: 75%;
  }
}
@media screen and (min-width: 1280px) {
  body > div.card {
    width: 50%;
  }
}
