@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Open+Sans:400,700|Roboto:400,700');

@mobile-height: 44px;
@desktop-height: 50px;
@header-height: 400px;

body {
	margin: 0;
	padding: 0;
	
	header {
		position: relative;
		height: @header-height;
		overflow: hidden;
		
		div.background {
			position: absolute;
			left: -10%;
			top: -10%;
			width: 120%;
			height: 120%;
			z-index: 1;
			
			background-image: url("../images/close-up-code-codes-239898.jpg");
			background-size: cover;
			background-position: center center;
			
			filter: blur(5px);
		}
		
		div.darken {
			position: absolute;
			width: 100%;
			height: 100%;
			z-index: 2;
			
			background-color: rgba(0, 0, 0, 2/3);
		}
		
		div#logo {
			display: inline-block;
			position: absolute;
			left: 0;
			padding-left: 8px;
			z-index: 3;
			width: calc((3/1) * @mobile-height);
			height: @mobile-height;
			
			background-image: url("../images/logo.svg");
			background-size: contain;
			background-position: center center;
		}
		
		nav {
			position: absolute;
			right: 8px;
			z-index: 3;
			
			font-family: 'Roboto', sans-serif;
			
			ul {
				margin: 0;
				
				list-style-type: none;
				
				li {
					display: inline-block;
					
					a {
						display: inline-block;
						
						&:link, &:visited, &:hover, &:active {
							padding: ((@mobile-height - 21px)/2) 4px;
							
							text-decoration: none;
							color: white;
							
							border-bottom: none;
						}
						
						&:hover, &.current {
							border-bottom: 2px solid #03a9f4;
						}
					}
				}
			}
		}
	}
	
	div.card {
		box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	}
	
	footer {
		padding: .33% 0;
		
		text-align: center;
		font-family: 'Roboto', sans-serif;
		
		background-color: #4CD964;
		color: white;
	}
}

@media screen and (min-width: 650px) {
	body {
		header {
			div#logo {
				width: calc((3/1) * @desktop-height);
				height: @desktop-height;
			}
			
			nav {
				ul {
					li {
						a {
							&:link, &:visited, &:hover, &:active {
								padding: ((@desktop-height - 21px)/2) 4px;
							}
						}
					}
				}
			}
		}
	}
}